body{
    font-family: monospace;
    color: #303633;
}

a{
  color: inherit;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.half-image-small{
  flex: 1;
  margin: 1%;
  min-width: 300px;
}

.half-image-large{
  flex: 2;
  min-width: 300px;
  margin: 1%;
}

/*image on the right side*/
.right-half-text{
  flex: 1;
  min-width: 300px;
  justify-content: right;
  margin-left: 1%;
  margin-right: 5%;
  padding: 0 5%;
  font-size: 16px;
}

/*image on the left side*/
.left-half-text{
  flex: 1;
  min-width: 300px;
  margin-left: 5%;
  margin-right: 1%;
  padding: 0 5%;
  font-size: 16px;
}

.full-image{
  width: 100%;
}

.full-text{
  width: 40%;
  margin: auto;
  display: block;
  font-size: 16px;
}


.header-menu-item{
  font-style: normal;
  font-weight: lighter;
  text-decoration: none;
}

.page-title{
  font-weight: lighter;
  font-size: 100px;
}

.page-description{
  color:#58574B;
  font-size: 16px;
  margin-right: 30%;

}
/*goes on the div around the project*/
.project{
    position: relative;
}

.project-title{
    position: absolute;
    top: 3vw;
    left: 2vw;
    color: white;
    font-size: 4vw;
}
.project-title-dark{
    position: absolute;
    top: 3vw;
    left: 2vw;
    font-size: 4vw;
}

.project-desc{
    position: absolute;
    top: 14vw;
    left: 6vw;
    color: white;
    font-size: 2vw;
}
.project-desc-dark{
    position: absolute;
    top: 14vw;
    left: 6vw;
    font-size: 2vw;
}

.years{
    position: absolute;
    top: 20vw;
    left: 6vw;
    color: white;
    font-size: 2vw;
}
.years-dark{
    position: absolute;
    top: 20vw;
    left: 6vw;
    font-size: 2vw;
}

.caption{
    color: #5B5B5B;
    width: 40%;
    margin: auto;
    margin-bottom: 3%;
    margin-top: 1%;
    text-align: center;
    font-size: 16px;
}

.video {
    display: block;
    width: 70%;
    margin: auto;
    margin-bottom: 3em;
    margin-top: 3em;
    /*If you aren't being a fuck, you should set the margins to be higher on desktop than on mobile*/
}


/*Everything below this is old*/



.portrait{
    width: 35%;
    margin-left: 32%;
    margin-right: 32%;
    min-width: 200px;
}

.intro-img{
    width: 100%;
}


.chunk {
    display: block;
    width: 70%;
    margin: auto;
    margin-bottom: 3em;
    margin-top: 3em;
    /*If you aren't being a fuck, you should set the margins to be higher on desktop than on mobile*/
}


.contact{
    color: #5B5B5B;
}
.intro{
    width: 50%;
    margin: auto;
    text-align: center;
}
.center{
    margin: auto;
}
.featureText{
    font-size: x-large;
}

/*all of this is side-nav stuff*/

.menuLink{
    font-size:30px;
    cursor:pointer;
    position: fixed;
    right: 1em;
    z-index: 1;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
}
